// 颜色
$codeBgColor = #fafafa
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.content pre { margin: 0!important}

.theme-default-content:not(.custom) {
  max-width: 1000px !important
}
.theme-default-content pre {
  padding: 0 20px!important
  background: #fafafa
  color: #2c3e50
}
.theme-default-content pre code,.theme-default-content pre code, .theme-default-content pre[class*="language-"] code  {
  color: #2c3e50
}

div[class*="language-"] {
  background-color: #fafafa
}

.cqc-preview-img {
  z-index: 2000;
}

.home .feature {
  max-width: 100%
}